/* STYLESHEET */

*
{
   background-color: #7C8385;
   font-family: 'Alegreya', serif;
   font-weight: 400;
   font-size: 22px;
}

body
{
   width: 25%;
   margin: 0 auto;
   position: fixed;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding-bottom: 2%;
}

content
{
   background-color: blue;
}

h1
{
   font-weight: 900;
   font-size: 40px;
   color: #A82379;
}

span
{
   color: #F5DB3F;
   font-weight: 700;
}

button
{
   padding: 6px 10px;
   font-weight: 700;
   font-size: 16px;
   background-color: #A82379;
   color: #85F1F6;
}

button:hover
{
   background-color: #C21E87;
}

p
{
   color: #85F1F6;
}

a[title="Hosted on free web hosting 000webhost.com. Host your own website for FREE."]
{
   display: none;
}