body
{
   background-color: #6EB2FF;
}

*
{
   font-family: 'Economica', sans-serif;
   font-size: 18px;
}

h1
{
   text-align: center;
   font-size: 70px;
   font-weight: 700;
}

div.customer, .order
{
   display: flex;
   width: 45%;
   flex-wrap: wrap;
   padding: 10px;
}

form, div.buttons
{
   display: flex;
   width: 66%;
   flex: 1;
   margin: 0 auto;
   background-color: #DAE5ED;
}

div.customer input
{

   padding: 2px;
   height: 7%;
   width: 90%;
}

h2
{
   text-align: center;
   display: block;
   padding-left: 170px;
   font-size: 30px;
}


textarea
{
   width: 255%;
   margin: 15px 0px;
   height: 90%;
   padding-bottom: 40px;
   box-sizing: border-box;
}

div.order div
{
   padding-right: 100px;
}

div.toppings input[type="Checkbox"]:nth-of-type(1)
{
   margin-left: 0px;
}

div.toppings input[type="Checkbox"]
{
   margin-left: 12px;
}

div.buttons
{
   margin: 235px 0px;
}

nav
{
   display: flex;
   flex-wrap: wrap;
}

/* Nav Bar */
ul
{
   list-style-type: none;
   margin: 0;
   margin-bottom: 20px;
   padding: 0;
   overflow: hidden;
   background-color: #DAE5ED;
   width: 100%;
}

li
{
   float: left;
}

li a 
{
   display: block;
   color: #6EB2FF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 20px;
}

li a:hover
{
   background-color: white;
   color: black;
}

.active
{
   background-color: white;
   color: black;
}
/* End Nav Bar*/

p
{
   width: 66%;
   margin: 0 auto;
   font-size: 20px;
}

hr
{
   margin: 20px 0;
}

img.order-pic
{
   display: block;
   margin: 20px auto 0px auto;
   width: 50%;
}

a[title="Hosted on free web hosting 000webhost.com. Host your own website for FREE."]
{
   display: none;
}