*
{
   font-family: 'Orbitron', sans-serif;
}

h1
{
   font-size: 50px;
   margin-right: auto;
   padding-left: 23%;
   background-color: #D28FF5;
   width: 100%;
   color: white;
}

body
{
   display: flex;
   flex-direction: column;
   width: 99%;
}

div.imgs
{
   order: 1;
   background-color: #333;
   padding: 20px 0;
}

div.imgs img
{
   width: 33%;
   box-sizing: border-box;
   padding: 0 15px;
}

div.main
{
   order: 2;
   padding: 20px 20px 0 20px;
}

h2
{
   font-size: 30px;
}

ul
{
   list-style-type: none;
   margin: 0;
   overflow: hidden;
   background-color: #333;
   position: fixed;
   bottom: 0;
   width: 99%;
   box-sizing: border-box;
}

li
{
   float: left;
}

li a
{
   display: block;
   color: white;
   text-align: center;
   padding: 20px 25px;
   text-decoration: none;
}

li a:hover
{
   background-color: #111;;
}

ul li:nth-of-type(3)
{
   background-color: #D28FF5;
}

a[title="Hosted on free web hosting 000webhost.com. Host your own website for FREE."]
{
   display: none;
}